.body {
    margin: 0;
    padding: 0;
}


/* New styles */



label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}



.overlay {
    background: url("../image/edlap1.jpg");
    height: 590px;
    width: auto;
    background-size:cover;
    background-attachment: scroll;
}

.navbar {
    top:20px;
}

.well{
    position:absolute;
    right:70px;
    top:50px;
    width: 80%;
}
.title {
    text-align:center;
    font-family: monospace;
    
}

.describe {
    text-align: center;
    font-family: monospace;
    
}

.circle {
    
    height:230px;
    width:230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
   

}

.imgs{
    left: 20px;
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: #5cb85c;
    color: white;
    
}

.modal-body {padding: 20px 16px;}

.modal-footer {
    padding: 2px 10px;
    background-color: #5cb85c;
    color: white;
}

@media (max-width:500px){
    .overlay {
        height: fixed;
        background-size: 100% auto;
        width: 443px;
        background-repeat: no-repeat;
    }
    
    .well {
        top: 260px;
        left: 15px;
        width: 443px;  
    }    
}

#overlay {
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 250px;
    left: 250px;
    right: 450px;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: blue;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.footer {
    background-color:#7E64FF;
    text-align: right;
    color:white;
    position: relative;
    top: -30px;
    height: 25px;
}